$color-primary: #2B4655;
$color-button: #693636;
$textcolor-primary: #D4B823;
$textcolor-secondary: #6D175A;


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: $textcolor-primary;
    background-color: $color-primary;
}


body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.titleCard {
   grid-column: 1/4; 
}

.navBar {
    grid-column: 2/3;
}

.profilePic {
    height: 25vh;
    border: 5px red solid;
    overflow: hidden;

}

.profilePic--img {
    width: 100%;
}
