.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  border: 5px solid #587989;
  border-radius: 7px;
  margin: 25px;
}

.media-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #587989;
  margin-bottom: 10px;
}

.intro-title {
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 1px ridge #a88277;
  border-top: 1px ridge #a88277;
  padding: 20px;
  margin: 10px;
}

.intro-message {
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 1px ridge #a88277;
  border-top: 1px ridge #a88277;
  padding: 10px;
  margin: 10px;
}

.nav-buttons {
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #edeae3;
  background-color: #307592;
  border: 1px solid #807d80;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  padding: 5px;
  margin: 5px;
  box-shadow: 2px 2px 5px black;
}

@media screen and (min-width: 426px) {
  .nav-buttons {
    flex-direction: row;
  }

  .button {
    width: 150px;
    height: 100px;
  }
}
@media screen and (min-width: 769px) {
  body {
    height: 100vh;
  }

  .header {
    border: none;
  }

  .nav-bar-laptop {
    background-color: #307592;
  }

  .logo {
    background-color: #807d80;
    color: #edeae3;
  }

  .nav-bar-list {
    background-color: #307592;
  }

  .nav-bar-links {
    background-color: #307592;
    color: #edeae3;
    padding: 5px;
    text-decoration: none;
  }
}
* {
  color: #307592;
  background-color: #edeae3;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar-laptop {
  display: none;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 100vh;
  width: 100%;
  border: #807d80;
}

.header {
  height: 50%;
  grid-column: 1/-1;
  grid-row: 1/2;
}

.intro {
  height: 50%;
  grid-column: 1/-1;
  grid-row: 2/4;
}

.nav-buttons {
  grid-column: 2/5;
  grid-row: 4/6;
}

.media-links {
  grid-column: 2/5;
  grid-row: 6/7;
}

@media screen and (min-width: 426px) {
  .nav-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
@media screen and (min-width: 769px) {
  .grid-layout {
    height: 90vh;
  }

  .nav-bar-laptop {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    text-align: center;
    grid-column: 1/-1;
    height: 5vh;
  }

  .logo {
    display: flex;
    align-items: center;
    padding: 5px;
  }

  .nav-bar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }

  .nav-bar-links {
    list-style: none;
  }

  .header {
    height: 50%;
    grid-column: 1/-1;
    grid-row: 1/5;
  }

  .intro {
    height: 50%;
    grid-column: 1/-1;
    grid-row: 3/5;
  }

  .nav-buttons {
    display: none;
  }

  .media-links {
    grid-column: 2/5;
    grid-row: 6/7;
  }
}
.profile-pic {
  border: 10px solid #307592;
  border-radius: 100px;
}

.intro-message p {
  max-width: 300px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #edeae3;
  background-color: #307592;
  border: 1px solid #807d80;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  padding: 5px;
  margin: 5px;
  box-shadow: 2px 2px 5px black;
}

.intro-title {
  border: none;
}

.intro-title h3 {
  border-bottom: 2px solid #a88277;
}

.header {
  border: none;
}

.nav-buttons {
  display: none;
}

/*# sourceMappingURL=main.css.map */
