.section--Nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section--headrSection {
    .titleText { 
    display: flex;
    justify-content: center;
    align-items: center;
    }
}

.button {
    color: $Color1b;
    background-color: $Color1;
    border: 1px solid $Color4;
    border-radius: 5px;
    width: 100px;
    height: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

