* {
    color: $color1;
    background-color: $color1b;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    display: grid;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
    width: 100%;
    border: $color3;
}

.header {
    height: 50%;
    grid-column: 1/-1;
    grid-row: 1/2;
}

.navbar {
    grid-column: 1/-1;
    grid-row: 2/3;
}

.nav-text {
    height: 50%;
    grid-column: 1/-1;
    grid-row: 2/4;
}

.nav-buttons {
    grid-column: 2/5;
    grid-row: 4/6;
}

.media-links {
    grid-column: 2/5;
    grid-row: 6/7;
}

@media screen and (min-width: $breakpoint-tablet) {

 .nav-buttons {
     display: flex;
     justify-content: center;
     align-items: flex-start;
 }
}