* {
    color: $color1;
    background-color: $color1b;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	
background-blend-mode: screen;
}

.nav-bar-laptop {
    display: none;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
    width: 100%;
    border: $color3;
}

.header {
    height: 50%;
    grid-column: 1/-1;
    grid-row: 1/2;
}

.intro {
    height: 50%;
    grid-column: 1/-1;
    grid-row: 2/4;
}

.nav-buttons {
    grid-column: 2/5;
    grid-row: 4/6;
}

.media-links {
    grid-column: 2/5;
    grid-row: 6/7;
}

@media screen and (min-width: $breakpoint-tablet) {

 .nav-buttons {
     display: flex;
     justify-content: center;
     align-items: flex-start;
 }
}

@media screen and (min-width: $breakpoint-laptop) {

  
    .grid-layout {
        height: 90vh;
    }
    
   .nav-bar-laptop {
       display: flex;
       justify-content: space-between;
       align-items: space-between;
       text-align: center;
       grid-column: 1/-1;
       height: 5vh;
   }

   .logo {
       display: flex;
       align-items: center;
       padding: 5px;
   }

   .nav-bar-list {
       display: flex;
       justify-content: space-between;
       align-items: center;
       width: 60%;
   }

   .nav-bar-links {
       list-style: none;
   }
    
    .header {
        height: 50%;
        grid-column: 1/-1;
        grid-row: 1/5;
    }
    
    .intro {
    height: 50%;
    grid-column: 1/-1;
    grid-row: 3/5;
    }
    
    .nav-buttons {
        display: none;
    }
    
    .media-links {
        grid-column: 2/5;
        grid-row: 6/7;
    }

}